{% extends "base.html" %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}

{% load markdown_extras %}

<h1 align="center">{{lesson.title | markdown | safe }}</h1>
<div class="segment">{{lesson.motivation | markdown | safe }}</div>
<br>
<hr>
<br>
<div class="segment">{{lesson.refreshment | markdown | safe }}</div>
{%for segment in ls%}
<h3>{{segment.title | safe }}</h3>
<div class="segment">{{segment.content|safe }}</div>
{% endfor %}

<!-- <div><h3>Домашнее задание</h3>

</div>

{%for segment in hw%}
<h4>{{segment.title | markdown | safe }}</h4>
<div class="segment">{{segment.content|safe }}</div>
{% endfor %} -->
<br>
<hr>
<br>
<div class="segment">{{lesson.reflection | markdown | safe }}</div>
<br>
{% endblock %}